@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1.2fr 4fr 1.3fr;
    grid-template-rows: 125px 1fr 1fr 1fr 1fr;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #e2e8f0;
    gap: 8px;
}
a {
    color: white;
}
.sidebar {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    background-color: #1992d4;
    grid-template-rows: 50px 200px 200px;
    gap: 70px;
}

.sidebar > div{
    padding-left: 15%;
}

.sidebar > h2{
    color: white;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header {
    grid-column: 2 / span 3;
    display: grid;
    gap: 16px;
    padding: 1% 3%;
    grid-template-rows: 50px 50px;
    font-family: 'Edu QLD Beginner', cursive;
    background-color: white;
}

#search {
    width: 70%;
    height: auto;
    align-self: center;
}
input {
    align-self: center;
    height: fit-content;
    border-radius: 18px;
}
.top {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 9px;
}

.me {
    display: grid;
    grid-template-columns: 20px 20px 90%;
    padding-left: 30%;
    gap: 8px;
}

.search {
    display: grid;
    grid-template-columns: 40px calc(100% - 40px);
}
.top input {
    width: 90%;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

ul button {
    background-color: #1992d4;
    border-color: transparent;
    border-radius: 16px;
    color: white;
    height: 5vh;
    width: 8vw;
}
.intro {
    display: grid;
    grid-template-columns: 50px calc(100% - 32px);
}



.project {
    grid-column: 2 / span 1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: 5% 95%;
    background-color: #e2e8f0;
    gap: 18px;
    padding: 2%;
    font-family: Roboto, 'san-serif';
}

.project h2 {
    height: fit-content;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 16px;
    padding-bottom: 10px;
}
.announce {
    display: grid;
    grid-template-rows: 40px calc(100% - 40px);
    grid-column: 3 / -1;
    grid-row: 2 / 4;
}

h2 {
    padding: 0;
    margin: 0;
}
.announcements {
    display: grid;
    background-color: white;
    padding: 5%;
    margin-right: 5%;
    border-radius: 16px;
}

.announces {
    border-bottom: 1px solid black;
}

.announces:last-child {
    border-bottom: none;
}

.content {
    padding: 5%;
    border-left: 10px solid #f0b429;
    background-color: white;
}

.trending {
    margin-top: 5vh;
    display: grid;
    grid-column: 3 / -1;
    grid-row: 4 / 6;
    grid-template-rows: 50px calc(100% - 50px);
}


/* ICONS */

.icon {
    width: 16px;
    height: 16px;
}
ul {
    padding: 0;
}

.big {
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
}

.trends {
    display: flex;
}
.trends h3 {
    padding: 0;
    margin: 0;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    height: 20%;
}

.star {
    background-image: url(./star.svg);
}

.star,.eye,.fork {
    background-size: cover;
}

.eye {
    background-image: url(./eye.svg);
}

.fork {
    background-image: url(./fork.png);
}


span a {
    color: black;
}
.home {
    background-image: url(./user.svg);
    background-size: 90%;
    background-repeat: no-repeat;
}

#home {
    list-style: url(./home.svg);
}

#profile {
    list-style: url(./account.png);
}

#communities {
    list-style: url(./groups.svg);
}

#history {
    list-style: url(./history.png);
}

#messages {
    list-style: url(./messages.png);
}

#privacy {
    list-style: url(./privacy.svg);
}

#support {
    list-style: url(./notification.png);
}

#tasks {
    list-style: url(./task.png);
}

#setting {
    list-style: url(./settings.svg);
}

.squirrel {
    background-image: url(./squirrel.svg);
    background-size: contain;
}

.corn {
    background-image: url(./corn.svg);
    background-size: contain;
}

.hat {
    background-image: url(./hat.svg);
    background-size: contain;
}